<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="false">
	<servlet>
		<servlet-name>els</servlet-name>
		<servlet-class>com.yk.el.ElServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>els</servlet-name>
		<url-pattern>/el</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/500.jsp</location>
	</error-page>
	<filter>
		<filter-name>FileterDemo</filter-name>
		<filter-class>com.yk.TestFilter.FilterDemo</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FileterDemo</filter-name>
		<url-pattern>/filterh.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>com.yk.TestFilter.CharacterEncodingFilter</filter-class>
		<init-param><!-- 设置编码 -->
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<!-- 是否强制使用该编码 -->
		<init-param>
			<param-name>force</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>LofinFilter</filter-name>
		<filter-class>com.yk.TestFilter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LofinFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>